body.drinks {
  background-position: center;
  background-size: cover;
  background-image:url('/img/background-01.jpg');
  .content {
    background: #fff;
    padding-left: 40px;
    padding-right: 40px;
  }
  .thumbnail {
    border: none;
  }
  .drinks {
    margin-top: 25px;
  }
  .page-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #ccc;
  }
}
