// Variables

// Scaffolding
$body-bg: #fff;
$text-color: #333;
$link-color: #428bca;
$link-hover-color: darken($link-color, 15%);
$banner-bg-color: #ff9966;

$thumbnail-border: none;

// Typography
$font-family-sans-serif: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-family-serif: Georgia, "Times New Roman", Times, serif;
$font-family-monospace: Menlo, Monaco, Consolas, "Courier New", monospace;
$font-family-base: $font-family-sans-serif;
$font-size-base: 14px;

//OVerrides
$navbar-inverse-color: #fff;
$navbar-inverse-link-color: #fff;
$navbar-inverse-bg: rgba(0, 0, 0, 0.4);
