@import "compass";
@import "variables";
@import "mixins";

@import "bootstrap-compass";
@import "bootstrap";

@import "font-awesome";

@import "base";

body.index {
  background: url('/img/background-01.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  .header {
    background: rgba(0, 0, 0, 0.7);
  }
}

body.about .content {
  img {
    width: 100%;
  }
  .blurb {
    padding: 40px 20px 20px 0;
    font-size: 1.4em;
  }
}

.header {
  background: black;
  color: white;
  a {
    color: white;
  }
  ul {
    list-style: none;
    padding: 0;
    li {
      display: inline-block;
    }
  }
  .navigation {
    margin: 20px 0;
    .menu, .menu li {
      margin-bottom: 0px;
    }
  }
  .tag-line {
    font-size: 2.2em;
    padding-top: 5px;
    margin-bottom: 5px;
    min-height: 44px;
  }
  .menu li a, .social-links li a {
    display: inline-block;
    font-size: 1.3em;
    margin-top: 5px;
    font-weight: bold;
    padding: 0 10px 0px 10px;
    &:hover, &:active {
      text-decoration: none;
    }
    &.active {
      background: white;
      color: black;
    }
  }
}

.banner {
  background-color: $banner-bg-color;
  .seperator {
    margin: 0 15px;
  }
  h4 { line-height: 140%; }
}

.content {
  padding-top: 30px;
}

.drink {
  .title, .description, .ingredients {
    text-align: center;
  }
  .title {
    margin-top: 10px;
    font-weight: bold;
    font-size: 1.3em;
  }
  .description {
    font-size: 1.2em;
  }
}
