@import "compass";
@import "variables";
@import "mixins";

@import "bootstrap-compass";
@import "bootstrap";

@import "font-awesome";

@import "base";

@import "navigation";
@import "footer";
@import "home";
@import "drinks";
@import "how-to-get";

.placeholder {
  width: 100%;
  min-width: 700px;
}

.social-links {
  a {
    .fa {
      font-size: 3em;
      margin: 0 10px;
    }
    color: lighten(black, 5%);
    &:hover, &:focus {
      color: $brand-primary;
    }
  }
  margin-bottom: 20px;
}
