.container
  .row
    script src='http://snapwidget.com/js/snapwidget.js'
    iframe.snapwidget-widget src="http://snapwidget.com/in/?u=YnJldWRyaW5rc3xpbnwyMDB8NHwxfHxub3wyMHxub25lfG9uU3RhcnR8eWVzfHllcw==&ve=221115" title="Instagram Widget" allowTransparency='true' frameborder="0" scrolling="no" style="border:none; overflow:hidden; width:100%;"
