---
title: BREU - how to get
---
= partial 'navigation'
.container.content
  .row
    .col-sm-6
      h3 STOCKLIST
    .col-sm-6
      h3 ORDER FORM
      br
      form accept-charset="UTF-8" action="https://formkeep.com/f/24d31ae1218f" method="POST"
        input type="hidden" name="utf8" value="✓"

        .form-group
          label for='name' Your name
          input.form-control id='name' type='text' name='name' value='' placeholder='Enter your name'

        .form-group
          label for='email' Email address
          input.form-control id='email' type='email' name='email' value='' placeholder='Email address'

        .form-group
          label for='url' Company URL
          input.form-control id='url' type='url' name='url' value='' placeholder='Business URL'

        .form-group
          label for='order' What would you like?
          textarea.form-control id='order' name='order' value='' placeholder='All the things' rows=5

        .form-group
          label for='address' Where should we ship it?
          textarea.form-control id='address' name='address' value='' placeholder='Enter your shipping address' rows=5

        .form-group
          label for='notes' Anything else?
          textarea.form-control id='notes' name='notes' value='' placeholder='Extra information we might need to know.' rows=5

        .form-group
          button.btn.btn-primary type="submit" Order Away
